﻿<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await  Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">

    <!-- Wrapper -->
   @RenderBody()

    <!-- Scripts -->
   @await Html.PartialAsync("ScriptsPartial")

</body>
</html>