﻿@model NewsItem

<article class="post">
    <header>
        <div class="title">
            <h2><a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">@Model.Title</a></h2>
            <p>@Model.MetaKeywords</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">@Model.DateAdded.ToLongDateString()</time>
            <a href="#" class="author"><span class="name">@Model.Author.UserName</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
    </header>

    <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id" class="image featured"><img src="~/images/@Model.TitleImagePath" alt="" /></a> y
    <p>@Model.Subtitle</p>
    <footer>
        <ul class="actions">
            <li><a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id" class="button large">Продолжить читать</a></li>
        </ul>
        <ul class="stats">
            <li><a class="icon solid fa-heart">@Model.Likes</a></li>
        </ul>
    </footer>
</article>