﻿@using TalkToTalk.Service
@model DataManager
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a asp-controller="Home" asp-action="Index" class="logo"><img src="images/logo.jpg" alt="" /></a>
        <header>
            <h2 class="header-title">@Config.BlogName</h2>
            <p class="header-title">Сюда надо что-то писать...</p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">
            
            @foreach (NewsItem item in Model.NewsItems.GetTopFiveItems())
            {
                <!-- Mini Post -->
                <article class="mini-post">
                    <header>
                        <h3><a asp-controller="Post" asp-action="Index" asp-route-id="@item.Id">@item.Title</a></h3>
                        <time class="published" datetime="2015-10-20">@item.DateAdded.ToLongDateString()</time>
                        <a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>
                    </header>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@item.Id" class="image"><img src="~/images/@item.TitleImagePath" alt=""/></a>
                </article>
            }
        </div>
    </section>

    <!-- Posts List -->
    @*<section>
        <ul class="posts">
            <li>
                <article>
                    <header>
                        <h3 class="mini-post-title"><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                        <time class="published" datetime="2015-10-06">October 7, 2015</time>
                    </header>
                    <a href="single.html" class="image"><img src="images/pic12.jpg" alt="" /></a>
                </article>
            </li>
        </ul>
    </section>*@

    <!-- About -->
    @await Html.PartialAsync("AboutPartial")

    <!-- Footer -->
    @await Html.PartialAsync("FooterPartial")

</section>