﻿@model NewsItem

		<!-- Wrapper -->
			<div id="wrapper" style="display: block">
                <!-- Header -->
					@await Html.PartialAsync("HeaderPartial")
                <!-- Main -->
					<div id="main">
                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">@Model.Title</a></h2>
										<p>@Model.MetaKeywords</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">@Model.DateAdded.ToLongDateString()</time>
										<a href="#" class="author"><span class="name">@Model.Author.UserName</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
                                <span class="image featured"><img src="~/images/@Model.TitleImagePath" alt="" /></span>
								@Html.Raw(Model.Text)
                                <footer>
									<ul class="stats">
                                        <li><a asp-controller="Post" asp-action="Like" asp-route-id="@Model.Id" class="icon solid fa-heart">@Model.Likes</a></li>
                                    </ul>
								</footer>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer" style="text-align: center;">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>


