﻿@model IQueryable<NewsItem>
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}

<div>
    <h3>News</h3>
    <div class="div-box">
        <a asp-area="Admin" asp-controller="NewsItems" asp-action="Edit" asp-route-id="">Add post</a>
    </div>
    @if (Model.Any())
    {
        <div>
            @foreach (NewsItem entity in Model)
            {
                <div>
                    <a asp-area="Admin" asp-controller="NewsItems" asp-action="Edit" asp-route-id="@entity.Id">Modify</a>
                    
                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="NewsItems" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@entity.Id"/>
                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Remove</a>
                    </form>
                    
                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@entity.Id">
                        @($"{entity.Title}")
                    </a>
                </div>
            }
        </div>
    }
</div>

<div class="div-box">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
