﻿
@{
    ViewData["Title"] = "Home Page";
}
@model DataManager

<div id="wrapper">

    <!-- Header -->
    @await Html.PartialAsync("HeaderPartial")

    <!-- Menu -->
    @await Html.PartialAsync("HeaderMenuPartial")

<!-- Main -->
    <div id="main">
        
        @foreach (NewsItem item in Model.NewsItems.GetNewsItems())
        {
            item.Author = Model.UserRepository.GetUserById(item.AuthorId);
            @await Html.PartialAsync("PostsPartial", item)
        }

        <!-- Pagination -->
        <ul class="actions pagination">
            <li><a href="" class="button-white large previous">Previous Page</a></li>
            <li><a href="#" class="button-white large next">Next Page</a></li>
        </ul>
    </div>

    <!-- Sidebar -->
    @await Html.PartialAsync("SidebarPartial", Model)

</div>
